.griglia {
    position: fixed;
    top: 0;          
    left: 0;         
    width: 100vw;   
    height: 100vh;   
    z-index: -1;
    display: grid; 
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px; 
    padding: 10px;
    box-sizing: border-box;
  }
  
  .elemento {
    background-color:blue;
    opacity: 10%;
  }

@font-face {
    font-family: 'SuisseIntl';
    src: url('Assets/Fonts/SuisseIntl-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    /*height: 100vh;
    display: flex;*/
    flex-direction: column;
    margin: 0 0;
    font-family: 'SuisseIntl', Arial, sans-serif;
    padding: 0px 10px;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

#navbar{
    margin-top: 10px;
    /*justify-content: space-between;*/
    display: grid;
}

#sidebar{
    display: flex;
    flex-direction: column;
}

.n2{
    grid-column: 3; 
}

.n3{
    grid-column: 5; 
}

.n4{
    grid-column: 7; 
}

.n5{
    grid-column: 9; 
}

.n6{
    grid-column: 11; 
}

#about{
    margin-top: 4%;
    display: grid;
}

#box-text-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#box-text-2{
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

p{
    font-size: 12px;
    margin: 0;
}

.grey{
    margin: 0px;
    margin-bottom: 5px;
    color: #999999;
}

h2{
    margin: 0;
    font-size: 34px;
    text-wrap: pretty;
}

#info{
    mix-blend-mode: difference;
    margin-top: 5%;
    position: sticky;
    top: 0px; /* Si ferma esattamente al margine superiore */
    z-index: 100; /* Assicura che il titolo rimanga sempre in primo piano rispetto alle immagini */
    padding: 10px 0;
}

.title{
    color: white; 

    display: grid;
    /*justify-content: space-between;*/
}

.description{
    margin-top: 5px;
    color: #666666;
    text-wrap: pretty;
}

.p1{
    display: flex;
    flex-direction: column;
}

.project1-1{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px; /* Sostituisce i margin-left che avevi messo a mano */
    margin-top: 10px;
}

#img-s1{
    grid-column: span 2; 
    background-image: url(Assets/Images/Soema/1-soema.webp);
    height: 35vh;
    background-position: 26% center;
    background-size: cover;
}

#group1, #group1-1 { 
    grid-column: span 4;
    position: relative;
    height: 70vh;
}

#img-s2 {
    position: relative; 
    width: 100%; 
    height: 45vh;
    background-image: url('Assets/Images/Soema/Teaser_finale_compresso2.mp4'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

.rectangle1 {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 70vh;
    background-color: #DCDCDC;
    z-index: 1; 
}

#img-s3{
    grid-column: span 3;
    background-image: url(Assets/Images/Soema/3-soema.webp);
    height: 53vh;
    background-position: center;
    background-size: cover;
}

.project1-2{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px; 
    margin-top: 10px;
}

#group2{
    grid-column: span 7;
    align-items: center;
    position: relative;
    height: 120vh;
    display: flex; /* Manteniamo flex QUI per affiancare img4 e img5 internamente */
    flex-direction: row;
    margin-bottom: 10px;
}

#group2-1{
    grid-column: span 7;
    align-items: center;
    position: relative;
    height: 120vh;
    display: flex; /* Manteniamo flex QUI per affiancare img4 e img5 internamente */
    flex-direction: row;
}

.rectangle2 {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 120vh;
    background-color: #DCDCDC;
    z-index: 1; 
}

#img-s4 {
    margin: 2% 1% 2% 2%;
    position: relative; 
    width: 47%; 
    height: 80vh;
    background-image: url('Assets/Images/Soema/4-soema.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}
#img-s5 {
    margin: 2% 2% 2% 1%;
    position: relative; 
    width: 47%; 
    height: 80vh;
    background-image: url('Assets/Images/Soema/5-soema.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#img-s6 {
    grid-column: span 5;
    background-image: url(Assets/Images/Soema/6-soema.webp);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

/*FINE Soema*/

/* Applica la stessa griglia a tutte le sezioni principali */
#navbar, #about {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px; /* Sostituisci con lo spazio che vuoi tra le colonne */
}

.title{
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 10px;
}

#testo {
    grid-column: 3 / 13; /* Inizia ESATTAMENTE dove inizia n2 (colonna 3) e prende il resto dello spazio */
    line-height: 1.1;
}

.info2{
    color: white; 
    mix-blend-mode: difference;
    margin-top: 3%;
    position: sticky;
    top: 0px; /* Si ferma esattamente al margine superiore */
    z-index: 100; /* Assicura che il titolo rimanga sempre in primo piano rispetto alle immagini */
    padding: 10px 0;
    
}

#img-c1 {
    margin: 2% 1% 2% 2%;
    position: relative; 
    width: 47%; 
    height: 30vh;
    background-image: url(Assets/Images/CiviCare/4-cvc.webp); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}
#img-c2 {
    margin: 2% 2% 2% 1%;
    position: relative; 
    width: 47%; 
    height: 30vh;
    background-image: url(Assets/Images/CiviCare/5-cvc.webp); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}
#group3{
    grid-column: span 3;
    align-items: center;
    position: relative;
    height: 53vh;
    display: flex; 
    flex-direction: row;
    margin-bottom: 10px;
}

#rectangle3 {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 53vh;
    background-color: #DCDCDC;
    z-index: 1; 
}

#img-c3{
    grid-column: span 4; 
    background-image: url(Assets/Images/CiviCare/1-cvc.webp);
    height: 50vh;
    background-position: center;
    background-size: cover;
}

#img-c4 {
    position: relative; 
    width: 100%; 
    height: 45vh;
    background-image: url('Assets/Images/CiviCare/2-cvc.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#group4 { 
    grid-column: span 4;
    position: relative;
    height: 70vh;

}

#img-c5{
    grid-column: span 4;
    background-image: url(Assets/Images/CiviCare/3-cvc.webp);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#img-c6 {
    grid-column: span 4;
    background-image: url(Assets/Images/CiviCare/6-cvc.webp);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

/*FINE civicare*/

/*undeclared*/

#img-u1 {
    margin: 2% 1% 2% 2%;
    position: relative; 
    width: 47%; 
    height: 30vh;
    background-image: url(Assets/Images/Undeclared/8.webp); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}
#img-u2 {
    margin: 2% 2% 2% 1%;
    position: relative; 
    width: 47%; 
    height: 30vh;
    background-image: url(Assets/Images/Undeclared/4.webp); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#img-u3{
    grid-column: span 4; 
    background-image: url(Assets/Images/Undeclared/2.webp);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#img-u4 {
    position: relative; 
    width: 100%; 
    height: 45vh;
    background-image: url('Assets/Images/Undeclared/3.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#img-u5{
    grid-column: span 4;
    background-image: url(Assets/Images/Undeclared/6.webp);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#img-u6 {
    grid-column: span 6;
    background-image: url(Assets/Images/Undeclared/5.webp);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

/* fine undeclared*/


.fade-on-scroll {
    /* Rende il fade out gestito da JS più morbido ai refresh del frame */
    transition: opacity 0.1s ease-out; 
    /* Assicura che la transizione parta in modo pulito */
    will-change: opacity; 
}

/* MPT*/

#img-m1{
    grid-column: span 2; 
    background-image: url(Assets/Images/MPT/1-mpt.webp);
    height: 35vh;
    background-position: center;
    background-size: cover;
}

#img-m2 {
    margin: 2% 1% 2% 2%;
    position: relative; 
    width: 47%; 
    height: 80vh;
    background-image: url('Assets/Images/MPT/2-mpt.webp');
    background-position: center;
    background-size: cover;
    z-index: 2; 
}
#img-m3 {
    margin: 2% 2% 2% 1%;
    position: relative; 
    width: 47%; 
    height: 80vh;
    background-image: url('Assets/Images/MPT/3-mpt.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#group5{
    grid-column: span 3;
    position: relative;
    height: 40vh;
}

#rectangle5{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 40vh;
    background-color: #DCDCDC;
    z-index: 1; 
}

#img-m4 {
    position: relative; 
    width: 100%; 
    height: 30vh;
    background-image: url(Assets/Images/MPT/4-mpt.webp); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#img-o1{
    grid-column: span 2; 
    background-image: url(Assets/Images/Omissis/omissis1.webp);
    height: 40vh;
    background-position: center;
    background-size: 180%;
}

#img-o2 {
    grid-column: span 4; 
    height: 50vh;
    background-image: url('Assets/Images/Omissis/omissis2.webp');
    background-position: center;
    background-size: cover;
    z-index: 2; 
}
#img-o3 {
    grid-column: span 5; 
    height: 80vh;
    background-image: url('Assets/Images/Omissis/omissis3.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#img-uv1{
    grid-column: span 4; 
    background-image: url(Assets/Images/Unverse/6.webp);
    height: 40vh;
    background-position: 26% center;
    background-size: cover;
}

#group-uv1, #group1-1 { 
    grid-column: span 4;
    position: relative;
    height: 70vh;
}

#img-uv2 {
    position: relative; 
    width: 100%; 
    height: 50vh;
    background-image: url('Assets/Images/Unverse/1.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

.rectangle-uv1 {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 70vh;
    background-color: #DCDCDC;
    z-index: 1; 
}

#img-uv3{
    grid-column: span 4;
    background-image: url(Assets/Images/Unverse/5.webp);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#group-uv2{
    grid-column: span 5;
    align-items: center;
    position: relative;
    height: 80vh;
    display: flex; /* Manteniamo flex QUI per affiancare img4 e img5 internamente */
    flex-direction: row;
    margin-bottom: 10px;
}

#group2-1{
    grid-column: span 7;
    align-items: center;
    position: relative;
    height: 120vh;
    display: flex; /* Manteniamo flex QUI per affiancare img4 e img5 internamente */
    flex-direction: row;
}

.rectangle-uv2 {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 80vh;
    background-color: #DCDCDC;
    z-index: 1; 
}

#img-uv4 {
    margin: 2% 1% 2% 2%;
    position: relative; 
    width: 47%; 
    height: 55vh;
    background-image: url('Assets/Images/Unverse/4.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}
#img-uv5 {
    margin: 2% 2% 2% 1%;
    position: relative; 
    width: 47%; 
    height: 55vh;
    background-image: url('Assets/Images/Unverse/3.webp'); 
    background-position: center;
    background-size: cover;
    z-index: 2; 
}

#img-uv6 {
    grid-column: span 5;
    background-image: url(Assets/Images/Unverse/2.webp);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

#rights{
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    h2 { font-size: 26px; }

    #testo { grid-column: 3 / 13; }

    #group3, #group-uv2, .rectangle-uv2, #rectangle3{
        height: 120vh; 
    }

    #img-u1, #img-u2, #img-c1, #img-c2, #img-uv4, #img-uv5{
        height: 80vh;
    }
    
    #img-s1, #group1, #group-uv1, #group1-1, #group2, #group-uv2, #group2-1, #group3, #group4, #group5, #img-s3, #img-s6, #img-c3, #img-c5, #img-c1, #img-c6, #img-m1, #img-u3, #img-u1, #img-u6, #img-o1, #img-o2, #img-o3, #img-u5, #img-uv1, #img-uv2, #img-uv3, #img-uv4, #img-uv5, #img-uv6 {
        grid-column: 1 / -1;
    }

    #img-s1, #img-s2, #img-s3, #img-s6, #img-u3, #img-u4, #img-u5, #img-u6, #img-o2, #img-c3, #img-c4, #img-uv1, #img-uv2, #img-uv3{
        height: 60vh;
    }

    #img-m1, #img-o1, #img-c6, #img-m4, #group5, #rectangle5, #img-uv6, .rectangle-uv1{
        height: 90vh;
    }

    #group-uv2, #group2, #group3{
        margin-bottom: 0px;
    }

    #rights{
        margin-top: 10px;
    }
    
}
 
@media (max-width: 768px) {
    .griglia, #navbar, #about, .title, .project1-1, .project1-2 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    #navbar {
        row-gap: 0px; 
    }

    h2{
        font-size: 20px;
    }
    #testo{
        grid-column: span 6; 

    }

    #sidebar{
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        gap: 10px; 
        grid-column: 1 / -1;
        margin-bottom: 5%;
    }

    #left{
        grid-column: 4 / span 2; 
        grid-row: 1;
    }

    #right{
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .n2, .n1, .n3{
        grid-column: 1 / span 3; 
    }

    .n4, .n5, .n6{
        grid-column: 4 / span 3; 
    }

    .n4{
        grid-row: 1;
    }

    .n5{
        grid-row: 2;
    }

    .n6{
        grid-row: 3;
    }

    #img-s1, #group1, #group-uv1, #group1-1, #group2, #group-uv2, #group2-1, #group3, #group4, #img-s3, #img-s6, #img-c3, #img-c5, #img-c1, #img-c6, #img-m1, #img-u3, #img-u1, #img-u6, #img-o1, #img-o2, #img-o3, #img-u5, #img-uv1, #img-uv2, #img-uv3, #img-uv4, #img-uv5, #img-uv6 {
        grid-column: 1 / -1;
    }

    #group5{
        grid-column: 1/7;
        margin: 0px;
        height: 40vh;
    }

    .rectangle2, .rectangle-uv2, #group3, #rectangle3{
        height: 50vh;
        margin: 0px;
    }

    #group2, #group-uv2, #group2-1, #img-o3{
        height: 50vh; 
    }

    .project1-2{
        gap: 10px; 
    }

    .rectangle1, .rectangle-uv1, #img-m1, #img-m4, #group1, #group-uv1, #group4, #img-c5, #rectangle5 {
        height: 40vh;
    }

    #img-s1, #img-s2, #img-s3, #img-s6, #img-u3, #img-u4, #img-u5, #img-u6, #img-o1, #img-o2, #img-c3, #img-c4, #img-uv1, #img-uv2, #img-uv3, #img-uv6{
        height: 30vh;
    }

    #img-o2{
        background-size: 180%;
    }
    
    #img-o1{
        background-size: 130%;
    }

    #img-s4, #img-s5, #img-u1, #img-u2, #img-c1, #img-c2, #img-m2, #img-m3, #img-uv4, #img-uv5{
        height: 35vh;
    }

    #img-c6{
        height: 60vh;
    }

    #img-uv3{
        background-size: 150%;
    }

}



    
